<article class="post flex my-5">
      <div class="title">
        <a href="/post/{{id}}" class="text-1xl text-lime-500 font-bold">{{title}}</a>
      </div>
     <div class="meta flex">
       <p class="mx-2">Created: {{format_date created_at}} </p>
       <a href="/post/{{id}}" class="mx-2">comments: {{comments.length}}</a>
      <div>
</article>
